.dashboard .content-area {
    margin: 0 38.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 905px;
    box-sizing: border-box;
  }
  /* PRODUCT IMAGES */
  /* image 1 */
  .dashboard .item-card-2 {
    border-radius: 22px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 32px 16px;
    box-sizing: border-box;
  }
  .dashboard .image-2 {
    /* background: url('./Assets/image16.png') 50% / contain no-repeat; */
    width: 159.4px;
    height: 200px;
  }
  .dashboard .product-image-2 {
    border-radius: 22px;
    background-color:white;
    margin-bottom: 16px;
    display: flex;
    padding: 16px;
    width: 191.4px;
    height: 232px;
    box-sizing: border-box;
  }
  .dashboard .content-2 {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }


  .dashboard .item-card-3 {
    border-radius: 22px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .dashboard .item-card-4 {
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .dashboard .row-01 {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    padding: 16px 0 32px 16px;
    width: 905px;
    box-sizing: border-box;
  }
  .dashboard .row-02 {
    position: relative;
    display: flex;
    width: 905px;
    box-sizing: border-box;
  }
  .dashboard .item-card-5 {
    border-radius: 22px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .dashboard .item-card-6 {
    border-radius: 22px;
    position: absolute;
    top: 16px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .dashboard .item-card-7 {
    border-radius: 22px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }


  .dashboard .container-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .dashboard .bag {
    overflow-wrap: break-word;
    font-family: var(--subtitle-normal-medium-normal-font-family, 'Cabin');
    font-weight: var(--subtitle-normal-medium-normal-font-weight, 500);
    font-size: var(--subtitle-normal-medium-normal-font-size, 39.1px);
    color: var(--font-dark, #1A1F16);
  }

  .dashboard .bag-area {
    margin: 64px 0 605px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: fit-content;
    box-sizing: border-box;
  }
  .dashboard .bag-items {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    width: 288px;
    box-sizing: border-box;
  }
  .dashboard .title {
    margin: 0 0.6px 25px 0;
    display: flex;
    box-sizing: border-box;
  }
  .dashboard .bag-item {
    border-radius: 12px;
    background: var(--ui-white, #FFFFFF);
    display: flex;
    padding: 0 8px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
  }

  .dashboard .bag-item-1 {
    border-radius: 12px;
    background: var(--ui-white, #FFFFFF);
    display: flex;
    padding: 8px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
  }


  .dashboard .bag-item-2 {
    border-radius: 12px;
    background: var(--ui-white, #FFFFFF);
    display: flex;
    padding: 8px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
  }

  .dashboard .row {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    width: 272px;
    box-sizing: border-box;
  }
  .dashboard .row-1 {
    display: flex;
    align-self: flex-start;
    width: 272px;
    height: 80px;
    box-sizing: border-box;
  }

  .dashboard .bag-item-3 {
    border-radius: 12px;
    background: var(--ui-white, #FFFFFF);
    display: flex;
    padding: 8px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
  }

  .dashboard .button {
    border-radius: 14px;
    background: var(--ui-dark, #1A1F16);
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    width: 159px;
    height: fit-content;
    box-sizing: border-box;
  }
  .dashboard .cta {
    display: flex;
    width: 329px;
    box-sizing: border-box;
  }

  .dashboard .line-1 {
    background: rgba(26, 31, 22, 0.5);
    margin: 35px 32.5px 35.4px 0;
    width: 921.6px;
    height: 0px;
  }

  .dashboard .item-name {
    margin-bottom: 8px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-normal-medium-normal-font-family, 'Cabin');
    font-weight: var(--body-normal-medium-normal-font-weight, 500);
    font-size: var(--body-normal-medium-normal-font-size, 20px);
    color: var(--font-dark, #1A1F16);
  }
  .dashboard .small-description {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-small-regular-condensed-font-family, 'Cabin');
    font-weight: var(--body-small-regular-condensed-font-weight, 400);
    font-size: var(--body-small-regular-condensed-font-size, 16px);
    letter-spacing: var(--body-small-regular-condensed-letter-spacing, -0.3px);
    color: var(--font-tertiary, #60695C);
  }


  .dashboard .container {
    margin: 5px 12px 5px 0;
    display: inline-block;
    width: 72px;
    overflow-wrap: break-word;
    font-family: var(--body-normal-medium-normal-font-family, 'Cabin');
    font-weight: var(--body-normal-medium-normal-font-weight, 500);
    font-size: var(--body-normal-medium-normal-font-size, 20px);
    color: var(--font-dark, #1A1F16);
  }

  .dashboard .action {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 175.4px;
    box-sizing: border-box;
  }
  .dashboard .image {
    /* background: url('/public/Assets/contentImages/Image15.png'); */
    width: 159.4px;
    height: 200px;
  }
  .dashboard .product-image {
    border-radius: 22px;
    background: var(--ui-white, #FFFFFF);
    margin-bottom: 16px;
    display: flex;
    padding: 16px;
    width: 191.4px;
    height: 232px;
    box-sizing: border-box;
  }


  .dashboard .content {
    margin: 0 16px 0 8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }

  .dashboard .button-1 {
    border-radius: 9px;
    background: var(--ui-dark, #1A1F16);
    display: flex;
    padding: 9.1px 9.7px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
  }
  .dashboard .button-2 {
    border-radius: 9px;
    background: var(--ui-dark, #1A1F16);
    display: flex;
    padding: 9.1px 9.7px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
  }
  .dashboard .vector-1 {
    width: 14.6px;
    height: 15.8px;
  }

  .dashboard .vector {
    width: 14.6px;
    height: 15.8px;
  }

  .dashboard .image-2 {
    /* background: url("/Assets/image16.png") 50% / contain no-repeat; */
    width: 159.4px;
    height: 20px;
  }
